/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*All css*/
@import url(work.css);
@import url(collection.css);
@import url(about.css);
@import url(blog.css);
@import url(responsive.css);
/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}
a{
	text-decoration: none;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
p{
	line-height: 2.4rem;
}
img{
	display: block;
}
/*Common css*/
.container{
	max-width: 1170px;
	width: 100%;
	margin: auto;
}
:root{
	--headerColor: #161616;
	--peraColor: #545454;
}

/*header area*/
.header-area{

}
.header-logo{
	padding:3rem 5rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

}
.header-logo h2 a{
	color: var(--headerColor);
	display: inline-block;

}
.header-logo span{
	color: var(--headerColor);
	font-weight: 600;
	cursor: pointer;
	font-size: 3rem;
}
#menu-area{
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
	width: 100%;
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, .5);
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
	-webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, .7);
	        box-shadow: 0 2rem 5rem rgba(0, 0, 0, .7);
}
#menu-area.active{
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
.menu{
	max-width: 800px;
	width: 100%;
	height: 70vh;
	background: #222;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-shadow: 0 0 5rem rgba(0, 0, 0, .5);
	        box-shadow: 0 0 5rem rgba(0, 0, 0, .5);
	position: fixed;
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
	left: 0;
	right: 0;
	margin: auto;
	top:-10%;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
}

.add-menu{
	top:calc(50% - 35vh);
	opacity: 1;
	visibility: visible;
	z-index: 9999;
}
.menu h2{
	color: #444;
	font-size: 2.5rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
	text-shadow: 0 0 .1rem #ddd;
}
.menu ul li a{
	display: inline-block;
	padding: 1rem 0;
	margin-bottom: .5rem;
	color: #ccc;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.menu ul li:hover a{
	color: #fff;
}
.menu span{
	color: #fff;
	cursor: pointer;
	margin-top: 1rem;
	border: .1rem solid #ddd;
	width: 4rem;
	height: 4rem;
	line-height: 4rem ;
	text-align: center;
	font-size: 3rem;
	border-radius: .5rem;
	position: absolute;
	top: 2%;
	right: 2%;
	font-weight: normal;
}
/*banner-area*/
.banner-area{
	
}
.slider-items{
	background:url(../image/home-banner.jpg)no-repeat scroll center center / cover;
	width: 100%;
	height: 100vh;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	z-index: 9;
}
.slider-items:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background: -webkit-gradient( linear,left top, left bottom,from(rgba(0, 0, 0, .7)),to(rgba(0, 0, 0, .7)));
	background: -o-linear-gradient( rgba(0, 0, 0, .7),rgba(0, 0, 0, .7));
	background: linear-gradient( rgba(0, 0, 0, .7),rgba(0, 0, 0, .7));
	z-index: -9;
}
.slider-content{
	color: #ddd;
}
.slider-content h2{
	font-size: 5rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
}
.slider-content p{
	max-width: 400px;
}
.btn1{
	display: inline-block;
	background: transparent;
	color: #fff;
	padding: 1rem 2rem;
	border: .1rem solid #ddd;
	margin-top: 2rem;
	position: relative;
	overflow: hidden;
	z-index:999;
}
.btn1:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 1rem;
	background: rgba(0, 0, 0, .3);
	left: 30%;
	top: 0;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	        transform: rotate3d(0, 0, 1, 45deg);
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
	border-top: .1rem solid #444;
}
.btn1:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 1rem;
	background: rgba(0, 0, 0, .3);
	right: 58%;
	top: 0;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	        transform: rotate3d(0, 0, 1, 45deg);
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
	border-bottom: .1rem solid #444;
}
.btn1:hover:after{
	right: -30%;
}
.btn1:hover:before{
	left: -58%;
}
.slider-dots{
	width: 100px;
	margin:2rem auto;
}
.slider-dots span{
	width: 1.5rem;
	height: 1.5rem;
	background: #d5d5d5;
	display: inline-block;
	border-radius: 50%;
	margin: .5rem;
	cursor: pointer;
	-webkit-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.slider-dots span:hover,
.slider-dots span:last-child{
	background: #222;
	
}
/*project-area*/
.project-area {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	overflow: hidden;
}
.project-items{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.project-left{
	-ms-flex-preferred-size: 60%;
	    flex-basis: 60%;
}
.project-left h4{
	font-size: 3rem;
	color: var(--headerColor);
}
.project-left p{
	max-width: 500px;
	margin: auto;
	color: var(--peraColor);
	line-height: 3rem;
	margin-top: 3rem;
}
.project-right{
	-ms-flex-preferred-size: 40%;
	    flex-basis: 40%;
	position: relative;
}
.project-right:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2rem solid rgba(0, 0, 0, .1);
	top: -10%;
	left: -10%;
	z-index: -9;
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.project-right:hover:before{
	 -webkit-filter: drop-shadow(8px 8px 5px #000);
	         filter: drop-shadow(8px 8px 5px #000);
} 
.project-right img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	z-index: 9;
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.project-right:hover img{
	 -webkit-filter: invert(100%);
	         filter: invert(100%);
	 cursor: pointer;
}
/*project-date*/
.project-date{
}
.project-date-items{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 3rem 1fr;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 3rem;
}
.date-item h4{
	font-size: 2.5rem;
	color: var(--headerColor);
	margin-bottom: 2rem;
}
.date-item p{
	color: var(--peraColor);
	line-height: 2.6rem;
	max-width: 500px;
}
/*project-image*/
.project-image{
	padding-top: 5rem;
	padding-bottom: 10rem;
}
.project-image-items{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 3rem 1fr 3rem 1fr;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 3rem;
}
.project-image-items img{
	-o-object-fit: cover;
	   object-fit: cover;
	width: 100%;
	height: 270px;
}
.project-hover{
	position: relative;
	width: 100%;
	height: 270px;
}
.project-hover:before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 1);
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
	transition: all 1s ease-in;
}
.project-hover:hover:before{
	opacity: 1;
	visibility: visible;
}

.hover-item{
	position: absolute;
	left: 0;
	bottom: 0;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transform-origin:right;
	    -ms-transform-origin:right;
	        transform-origin:right;
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.hover-item img{
	-o-object-fit: cover;
	   object-fit: cover;
	width: 100%;
	height: 270px;
}
.project-hover:hover .hover-item{
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
}
/*gallery-items*/
.gallery-items{
	padding: 5rem 0;
}
.gallery-image{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 3rem 1fr;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 3rem;
}
.gannery-single-image{
	width: 100%;
	height: 500px;
	position: relative;
}
.gannery-single-image:last-child{
	-ms-grid-column-span: 2;
	grid-column: span 2;
	-o-object-fit: inherit;
	   object-fit: inherit;
	/*filter: grayscale(50%);*/
}
.gannery-single-image:hover:last-child img{
	 -webkit-filter: opacity(100%);
	         filter: opacity(100%);
	 -webkit-filter: invert(100%);
	         filter: invert(100%);
}
.gannery-single-image img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	z-index: 9999;
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.gannery-single-image:hover img{
	 -webkit-filter: opacity(30%);
	         filter: opacity(30%);
}
.gannery-single-image:before{
	content: '';
	position: absolute;
	width: 450px;
	height: 450px;
	margin: auto;
	background: rgba(0, 0, 0, .3);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
	border-radius: 50%;
	line-height: 500px;
}
.gannery-single-image:after{
	content: '';
	position: absolute;
	width: 450px;
	height: 450px;
	margin: auto;
	background: rgba(0, 0, 0, .3);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	-webkit-transform: scaleY(0);
	    -ms-transform: scaleY(0);
	        transform: scaleY(0);
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
	border-radius: 50%;
}
.gannery-single-image:hover:before{
	-webkit-transform: scaleY(1);
	    -ms-transform: scaleY(1);
	        transform: scaleY(1);
}
.gannery-single-image:hover:after{
	-webkit-transform: scaleX(1);
	    -ms-transform: scaleX(1);
	        transform: scaleX(1);
}
.gannery-single-image:last-child:before,
.gannery-single-image:last-child:after{
	width: 0;
	height: 0;
	position: inherit;
}
.social-icon{
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translate(-50%);
	    -ms-transform: translate(-50%);
	        transform: translate(-50%);
	z-index: 9999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.social-icon i{
	font-size: 3rem;
	margin: .7rem;
	color: #fff;
	cursor: pointer;
}
.social-icon i:hover{
	color: #ddd;
}
.gannery-single-image:hover .social-icon{
	top: 45%;
	opacity: 1;
	visibility: visible;
}
/*gallery-btn*/
.gallery-btn{
	max-width: 200px;
	margin: 3rem auto;
	margin-bottom: -2rem;
}
.gallery-btn .btn1{
	color: #161616;
	width: 100%;
	height: 100%;
	text-align: center;
}
.gallery-btn .btn1:before{
	background:#1E3E6C14;
	left: 50%;
	border: none;
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	        transform: rotate3d(0, 0, 1, -45deg);
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.gallery-btn .btn1:after{
	background: #1E3E6C14;
	border: none;
	left: -35%;
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
	        transform: rotate3d(0, 0, 1, -45deg);
	-webkit-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
}
.gallery-btn .btn1:hover:before{
	left: -35%;
}
.gallery-btn .btn1:hover:after{
	left: 50%;
}
/*footer-area*/
.footer-area{
	padding: 3rem 0;
}
.footer-items {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 3rem 1fr 3rem 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
	padding: 2rem;
	-webkit-box-shadow: 0 0 1rem #ddd;
	        box-shadow: 0 0 1rem #ddd;
}
.footer-items h4{
	font-size: 2rem;
	margin-bottom: 1rem;
}
.footer-items p{
	color: var(--peraColor);
}
.footer-items ul li a{
	display: inline-block;
	padding: 1rem 0;
	color: var(--peraColor);
	
}
